# **Python Basic Programming - Part I**

# Table of Contents:
1. [Introduction](#Intro)
2. [Operations](#Oper)
3. [Types of Data](#DataType)

    3.1. [Numeric](#numericdata)
  
    3.2. [Strings](#stringdata)

    3.3. [Booleans](#booleandata)

    3.4. [None](#nonedata)

    3.5. [Date and Times](#datetimesdata)

4. [Control Flow](#ContFlow)

    4.1. [If Statement](#ifstat)

    4.2. [For-Loop](#forloop)

    4.3. [While-Loop](#whileloop)

    4.4. [Range](#range)

# **1. Introduction** <a name="Intro"> </a>

First a few words ...

**Python** is an interpreted language. The Python interpreter runs a program by executing one statement at a time.

**IPython** (short for Interactive Python) was started in 2001
by Fernando Perez as an enhanced Python interpreter, and has since grown into a project aiming to provide, in Perez’s words, “Tools for the entire lifecycle of research computing.” If Python is the engine of our data science task, you might think of IPython as the interactive control panel.

**Jupyter notebook** is a browser-based graphical interface to the IPython shell, and builds on it a rich set of dynamic display capabilities. As well as executing Python/ IPython statements, the notebook allows the user to include formatted text, static and dynamic visualizations, mathematical equations, JavaScript widgets, and much more.

**Google Colaboratory** (**Colab** for short) is a cloud computing platform that allows you to run Jupyter notebooks prepared with the most recent data analysis and machine learning libraries

**How to run a cell with codes**?
Simply holds SHIFT and press ENTER while you are in the "code" cell.


Let's start with the *Hello World* program:

In [ ]:
print('Hello World!')

**How to get guidelines for a command?** type the command with a question mark in front of it in a code cell.

In [ ]:
print?

**Comments**
Any text preceded by the hash mark (pound sign) # is ignored by the Python interpreter. This is often used to add comments to code. At times you may also want to exclude certain blocks of code without deleting them.

In [ ]:
# This is a comment added to this code cell. This cell prints this sentence: "Today is August 1st and this week is the first week of the semester!"
print("Today is September 8th and this week is the second week of the semester!")  # Press SHIFT+ENTER to run the code



---



---

# **2. Operations** <a name="Oper"></a>

![alt text](https://docs.google.com/uc?export=download&id=11Y4fUzR9EuVdaTZAkAyK6n1AYeBUqs4M)

![alt text](https://docs.google.com/uc?export=download&id=1g2koS6yUb6fXDHe1kdaE8wivZkq6CPwz)

Let's look at some examples:

In [ ]:
a = 4
b = 3
print("a*b=",a*b)
print("a+b=",a+b)
print("a^b=",a**b)

print(a<b)
print(a is b)
print(a is not b)
print(a==b)



---



---

# **3. Types of Data** <a name="DataType"></a>

## 3.1. _Numeric_ <a name="numericdata"> </a>

The primary Python types for numbers are _int_ and _float_. An _int_ can store arbitrarily large numbers. Floating-point numbers are represented with the Python float type. Under the hood, each one is a double-precision (64-bit) value. They can also be expressed with scientific notation.

In [ ]:
intval=10  # an integer number
print( type(intval) )
print( intval**3 )
print( intval*intval )

In [ ]:
fltval1=12.4567
fltval2=1.345e-8
print(type(fltval1),type(fltval2))
print(fltval1*fltval2)

##### <font color='red'>__Question (1)__</font>:

What is the data type of the multiplication of an integer and a float type number?

In [ ]:
## In-Class Assignment

**Note:** Keep in mind, "/" division yields a floating-point number if the fraction does not yield a whole number while "//" drops the fraction part of the floating-point number.

In [ ]:
print(3/2)
print(3//2)

## 3.2. _Strings_ <a name="stringdata"> </a>

You can write string literals using either single quotes <font color='red'>'</font> or double quotes <font color='red'>''</font>. If you have a <font color='red'>'</font> in you phrase then you should use <font color='red'>''</font> for your string. If you have both single and double quotations, you can use triple quotation <font color='red'>'''</font>

In [ ]:
strval1="This is a string"
strval2='This is also a string'
strval3='let\'s print this string!'
strval4=" my height is 5\'9\""

print(strval1)
print(strval2)
print(strval3)
print(strval4)

You can go to the next line using "\n" command.

In [ ]:
print('My name is\nMasoud')

You can also refer to a specific character in a string

In [ ]:
strval='MECH 475'
print(strval[0],strval[2]) # pay attention that the numbering in Python starts from 0

##### <font color='red'>__Question (2)__</font>:

Write a code that prints your first name, goes to the next line, and prints your last name in the next line.

In [ ]:
## In-Class Assignment

In [ ]:
%whos

We can convert a data type to string type using <font color='blue'>str</font> command.

In [ ]:
a = 12.45
aString=str(a)                # Converting variable a to a string type
print(a,type(a))
print(aString,type(aString))

## 3.3. _Booleans_ <a name="booleandata"> </a>

The two boolean values in Python are written as <font color='blue'> True </font> and <font color='blue'> False </font>. Comparisons and other conditional expressions results in either True or False.

In [ ]:
a1=1
b1=2
print('a=',a1,'& b=',b1)
print(a1==b1)                 # Are a1 and b1 equal ?
print(a1!=b1)                 # Are a1 and b1 not equal ?

## 3.4. _None_ <a name="nonedata"> </a>

<font color='blue'> None </font> is the Python null value type. If a function does not explicitly return a value, it implicitly returns <font color='blue'> None </font>. In so many cases when a dataset is imported, missing values are replaced as <font color='blue'> None </font>.

In [ ]:
a = None
print(a)
print(a is None)
print(type(a))

## 3.5. _Dates and Times_ <a name="datetimesdata" > </a>

The built-in Python <font color='blue'>datetime</font> module provides datetime, date, and time types. The datetime type, as you may imagine, combines the information stored in date and time.

First, we need to import the functions from the corresponding _library_. In Python, a module is simply a file with the .py extension containing Python code.

In [ ]:
# we need to import necessary functions from datetime module
from datetime import datetime

dt = datetime(2022, 1, 19, 14, 15, 21)
print("date is",dt)
print("day is",dt.day)
print("hour is",dt.hour)
print("minute is",dt.minute)

We can also get the current time using _datetime_ command. We also have to specify the time zone for the area. In case you are interested in how to get the current time for different regions, take look at the suggestions in this link: https://stackoverflow.com/questions/1398674/display-the-time-in-a-different-time-zone

In [ ]:
print(datetime.now())
print(datetime.utcnow()) # Coordinated Universal Time

##### <font color='red'> __Question (3)__</font>:

Print the current day, current month, and current minute for the Coordinated Universal Time zone

In [ ]:
## In-Class Assignment

Notice that we used a "dot" after _dt_ to find out more about the variable _dt_. This "dot" after the variable gives us access to the **attributes** and **methods**. These are functions associated with an object that can have access to the object’s internal data. To see the attributes and methods associated with a variable (generally an object) use that object name with a "dot" or you can use the command _dir_ to see all the attributes for that object.

In [ ]:
val1="Test"
#dir(val1)   # to see all the methods or attributes related to an object

In [ ]:
test_string = 'Masoud is in MECG 542'
test_string.lower().count("m")

In [ ]:
test_string.isupper()

##### <font color='red'> __Question (4)__</font>:

Put your name in a string type variable and then do the following: (1) convert all the letters to upper case, (2) convert all the letters to lower case, (3) check if all the letters are lower case, (4) count the number of occurance of second letter in your name, (5) replace all the occurances of the third letter of your name with letter __n__

In [ ]:
## In-Class Assignment

# **4. Control Flow** <a name="ContFlow"></a>

Python has several built-in keywords for conditional logic, loops, and other standard control flow concepts found in other programming languages.

## 1.1. _If Statement_ <a name="ifstat"></a>

It checks a condition that, if <font color='blue'> True </font>, evaluates the code in the block that follows.
<img src="https://docs.google.com/uc?export=download&id=19JYBZlVAmBrXoGP82oQvst1ygILTRYYx">

In [ ]:
a=3
b=2
if a==b:
  print('a=b')

print('end of the code')

In [ ]:
a=5
b=5
c=4
if a==b or a==c:
  print('a=b or a=c')

An <font color='purple'> if </font> statement can be optionally followed by one or more <font color='purple'> elif </font> blocks and a catch-all <font color='purple'> else </font> block if all of the conditions are _False_

<img src="https://docs.google.com/uc?export=download&id=1IkRdKC8UA-nj_i-vSZ_hJF6W7PLiAUE1">

In [ ]:
x=5

if x < 0:
  print("It's negative")
elif x == 0:
  print('Equal to zero')
elif 0 < x < 5:
  print('Positive but smaller than 5')
else:
  print('Positive and larger than or equal to 5')

##### <font color='red'> __Question (5)__</font>:

Write a code that prints the third letter of your name if the value of a variable _n_ is less than 3 and bigger than 1. Replace <font color='blue'> None </font> with appropriate variables and statements in the following code.

In [ ]:
## In-Class Assignment
n=
name=''

if None:
  print(name[None])

## 4.2. _For-Loop_ <a name="forloop"> </a>

For loops are for iterating over a collection (like a list or tuple) or an iterater.

<img src="https://docs.google.com/uc?export=download&id=1X-D_rr0iqNW7SQsAFr_9sdurHQpKoAnO">

In [ ]:
lst=[1,10,3,4,6]
for ii in lst:
  value2= ii + ii**2
  print(ii,value2)

In [ ]:
lststr=['str1','str2','str3']
for ii in lststr:
  print(ii)

In [ ]:
lst1=[1,2,3,4,5]
lst2=[3,4,5,6,7]

for value1 in lst1:
  for value2 in lst2:
    if value1==value2:
      print(value1,value2)

Another useful command that can be used along with the for-loop is <font color='sienna'> enumerate </font> which loops over a list and also provides an automatic counter for the items in the list

In [ ]:
lst3=['item1','item2','item3','item4','item5']

for ind,_ in enumerate(lst3):
  print(ind)

##### <font color='red'> __Question (6)__</font>:

Write a for-loop that goes over the values in the list with your first name, your last name, and your height and prints the items with their associated counters. An example for a list: LST=[<font color='darkred'> "Masoud" </font>,<font color='darkred'> "Masoumi" </font>, <font color='darkred'>''' 5'9" ''' </font> ]

In [ ]:
## In-Class Assignment

## 4.3. _While-Loop_ <a name="whileloop"> </a>

A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to _False_ or the loop is explicitly ended with _break_.

<img src="https://docs.google.com/uc?export=download&id=13NCLlpmX1I5xHWu6hUND6Unae_vjOeHe">

In [ ]:
i=0
while i < 6:
  print(i)
  i += 1 # equivalent to i = i + 1

In [ ]:
x = 256

total = 0

while x > 0:
  if total > 500:
    break
  total += x

print(x,total)

In [ ]:
step = 60
if step % 20 == 0:
  print(total)

##### <font color='red'> __Question (7)__</font>:

Write a while-loop to sum up the numbers from 0 to 120 and then print the output every 20 steps.

In [ ]:
# In-Class Assignment

## 4.4. _Range_ <a name="range"> </a>

The <font color='blue'> range </font> function returns an iterator that yields a sequence of evenly spaced integers:

In [ ]:
print(range(10))   # Equivalent to print(range(0,10))
list(range(10))

In [ ]:
for count in range(2,20,3):
  print(count)